{% set current = app.current_route %}

<nav class="nav">
    <a {% if current == 'home' %}class="active" {% endif %}href="{{ path('home') }}">home</a>
    <a {% if current == 'about' %}class="active" {% endif %}href="{{ path('about') }}">about</a>
    <a {% if current == 'report' %}class="active" {% endif %}href="{{ path('report') }}">report</a>
    <a {% if current == 'api' %}class="active" {% endif %}href="{{ path('api') }}">api</a>
    <a {% if current == 'lucky' %}class="active" {% endif %}href="{{ path('lucky') }}">lucky</a>
    <a {% if current starts with 'card' %}class="active" {% endif %}href="{{ path('card') }}">card</a>
    <a {% if current starts with 'game' %}class="active" {% endif %}href="{{ path('game') }}">game</a>
    <a {% if current starts with 'library' %}class="active" {% endif %}href="{{ path('library') }}">library</a>
    <a {% if current == 'metrics' %}class="active" {% endif %}href="{{ path('metrics') }}">metrics</a>
    <a href="{{ path('proj') }}">proj</a>
</nav>