{% extends "proj/partials/base.twig" %}
{% block view %}draft{% endblock %}
{% block body %}
    <h2>Välj utmanare</h2>
    {% for challenger in draft %}
        {% set stats = challenger.getStats() %}
        <form class="draft-form hoverable" method="post">
            <input type="number" style="display: none;" name="index" value="{{ loop.index0 }}">
            <table class="challenger" onclick="this.parentNode.submit();">
                <thead>
                    <tr>
                        <th colspan="3">{{challenger.getName()}}</th>
                    </tr>
                <thead>

                <tbody>
                    <tr><td class="spacer" colspan="3"></td></tr>
                    <tr class="stat">
                        <td>
                            Intelligens
                        </td>
                        <td>
                            {{stats["intelligence"]}}
                        </td>
                        <td>
                            <i class="fa-solid fa-brain"></i>
                        </td>
                    </tr>
                    <tr class="stat">
                        <td>
                            Styrka
                        </td>
                        <td>
                            {{stats["strength"]}}
                        </td>
                        <td>
                            <i class="fa-solid fa-dumbbell"></i>
                        </td>
                    </tr>
                    <tr class="stat">
                        <td>
                            Smidighet
                        </td>
                        <td>
                            {{stats["dexterity"]}}
                        </td>
                        <td>
                            <i class="fa-solid fa-user-ninja"></i>
                        </td>
                    </tr>
                    <tr class="stat">
                        <td>
                            Tur
                        </td>
                        <td>
                            {{stats["luck"]}}
                        </td>
                        <td>
                            <i class="fa-solid fa-clover"></i>
                        </td>
                    </tr>
                    <tr class="stat">
                        <td>
                            Hastighet
                        </td>
                        <td>
                            {{stats["speed"]}}
                        </td>
                        <td>
                            <i class="fa-solid fa-person-running"></i>
                        </td>
                    </tr>
                    <tr class="stat">
                        <td>
                            Uthållighet
                        </td>
                        <td>
                            {{stats["constitution"]}}
                        </td>
                        <td class="centered">
                            <i class="fa-solid fa-solid fa-heart-pulse"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% endfor %}

    {# {{dump(selection)}} #}
{% endblock %}
