{% extends "proj/partials/base.twig" %}

{#% block header %}{{ include('partials/header.html.twig', {"big": true}) }}{% endblock %#}
{% set challenger = game.getChallenger() %}
{% set journey = game.getJourney() %}
{% set crossroads = game.getCrossroads() %}
{% set stats = challenger.getStats() %}
{% set healthPercent = challenger.getHealth()/challenger.getMaxHealth()*100 %}
{% set staminaPercent = challenger.getStamina()/challenger.getMaxStamina()*100 %}


{% block view %}game{% endblock %}

{% block body %}
    {{ include('proj/partials/challenger.twig') }}

    {{ include('proj/partials/gamestate.twig') }}

    {{ include('proj/partials/crossroads.twig') }}

    <a class="giveup" href="{{ path('proj_game_end') }}">Återvänd och gå hem.</a>
    {#{dump(challenger.getStats())}#}
{% endblock %}