{% extends "proj/partials/base.twig" %}

{% set challenger = game.getChallenger() %}
{% set journey = game.getJourney() %}
{% set crossroads = game.getCrossroads() %}
{% set stats = challenger.getStats() %}
{% set healthPercent = challenger.getHealth()/challenger.getMaxHealth()*100 %}
{% set staminaPercent = challenger.getStamina()/challenger.getMaxStamina()*100 %}

{% block view %}game{% endblock %}

{% block body %}
    {{ include('proj/partials/gamestate.twig') }}

    <div class="challenger-dummy"></div>

    {{ include('proj/partials/challenger.twig') }}

    {% if crossroads %}
        {{ include('proj/partials/crossroads.twig') }}
    {% else %}
        {{ include('proj/partials/travel.twig') }}
    {% endif %}

    <a class="giveup" href="{{ path('proj_game_end') }}">Avsluta din resa.</a>
    {#{dump(challenger.getStats())}#}
{% endblock %}