{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ include('partials/card/nav.html.twig')}}

    <p>Skapa en sida card/deck/draw/:number som drar :number kort från kortleken och visar upp dem. Visa även antalet kort som är kvar i kortleken.</p>

    {% if hand.getCardsRemaining() > 0 %}
        <p>Kort kvar i leken: {{deck.getCardsRemaining()}}</p>

        <div class="game">
            {% if deck.getCardsRemaining() == 0 %}
            {% endif %}
            {% for card in hand.peekAllCards()|sort %}
                <img src="{{ asset('img/cards/' ~ card ~ '.svg') }}" class="card big">
            {% endfor %}
        </div>
    {% elseif deck.getCardsRemaining() > 0 %}
        <p>Kort kvar i leken: {{deck.getCardsRemaining()}}</p>

        <form>
            <label class="card-game-label">Antal kort:</label>
            <input type="number" name="number" value="1" step="1" min="1" max="{{deck.getCardsRemaining()}}">
            <input type="button" name="doit" value="Dra"
                onClick="location.href='{{ path('card_draw_multiple', {num: 0}) }}'.slice(0, -1) + this.form.elements.number.value;"
            >
        </form>
    {% else %}
        <p>{{deck.getEmptyWarning()}}</p>
        <p>Använd <a href="{{ path('card_shuffle') }}">shuffle</a> för att börja om.</p>
    {% endif %}
{% endblock %}