{% set current = app.current_route %}

<nav class="nav small">
    <a {% if current == 'card_deck' %}class="active" {% endif %}href="{{ path("card_deck") }}">deck</a>
    <a {% if current == 'card_shuffle' %}class="active" {% endif %}href="{{ path("card_shuffle") }}">shuffle</a>
    <a {% if current == 'card_draw' %}class="active" {% endif %}href="{{ path("card_draw") }}">draw</a>
    <a {% if current == 'card_draw_multiple' %}class="active" {% endif %}href="{{ path("card_draw_multiple", {num: 0}) }}">drawMultiple</a>
    <a {% if current == 'card_deal' %}class="active" {% endif %}href="{{ path("card_deal", {players: 0, cards: 0}) }}">deal</a>
</nav>
