{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ include('partials/game/nav.html.twig')}}

    <p>time to win</p>

    {{ dump(hand.getUnmatched()) }}
    {{ dump(hand.getMelds()) }}
    {{ dump(hand.getAllFaces()) }}
    {{ dump(deck.getAllFaces()) }}

{% endblock %}