<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RoadLike{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon-proj.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('proj') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('proj') }}
            <script src="https://kit.fontawesome.com/bf7bae9635.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block nav %}{{ include('proj/partials/nav.twig') }}{% endblock %}
        {% block header %}{{ include('proj/partials/header.twig') }}{% endblock %}
        <main class="main {% block view %}{% endblock %}">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
