{% set direction = "Mitten" %}
{% if loop.first %}
    {% set direction = "Vänster" %}
{% elseif loop.last %}
    {% set direction = "Höger" %}
{% endif %}

<form class="path-form hoverable" action="{{ path('proj_game_next') }}">
    <input type="number" style="display: none;" name="index" value="{{ loop.index0 }}">
    <div class="path" onclick="this.parentNode.submit();">
        <h3>
            {# <i class="fa-solid fa-signs-post"></i> #}
            {{direction}}
        </h3>
        <div class="length">
            <i class="fa-solid fa-person-hiking"></i>
            <p>{{path.getLength()}}m</p>
        </div>

        {% for obstacle in path.getObstacles() %}
            {{ include('proj/partials/obstacle.twig') }}
        {% endfor %}
    </div>
</form>