{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% set imageSrc =  asset('img/library/default.png') %}
    {% if book.getImageUrl() %}
        {% set imageSrc = book.getImageUrl() %}
    {% endif %}

    <div class="book">
        <img src="{{ imageSrc }}" alt="{{ book.getTitle() }}">
        <div class="text">
            <h3>{{ book.getTitle() }}</h3>
            <h4><i>{{ book.getAuthor() }}</i></h4>
            <p>{{ book.getIsbn() }}</p>
        </div>
    </div>

    <form class="library-form" action={{ path('library') }}>
        <input type="submit" value="tillbaka">
    </form>
{% endblock %}
