{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {{ include('partials/library/nav.html.twig')}}

    {{ include('partials/library/flash.html.twig') }}

    <form class="library-form" method="post" onsubmit="
        event.preventDefault();
        const data = new FormData(event.target);
        let url = '{{ path('library_update_book', {id: 0}) }}'.slice(0, -1);
        url +=  data.get('book-id');
        location.href = url;
    ">
        <select name="book-id">
            <option value="0">Välj...</option>

            {% for book in books %}
                <option value="{{ book.getId() }}">{{ book.getTitle() }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Slå upp">
    </form>
{% endblock %}
