{% set current = app.current_route %}

<nav class="nav small">
    <a {% if current == 'library_create' %}class="active" {% endif %}href="{{ path("library_create") }}">create</a>
    <a {% if current == 'library_read_all' %}class="active" {% endif %}href="{{ path("library_read_all") }}">readAll</a>
    <a {% if current == 'library_read' %}class="active" {% endif %}href="{{ path("library_read") }}">read</a>
    <a {% if current == 'library_update' %}class="active" {% endif %}href="{{ path("library_update") }}">update</a>
    <a {% if current == 'library_delete' %}class="active" {% endif %}href="{{ path("library_delete") }}">delete</a>
    <a href="{{ path("library_reset") }}">reset</a>
</nav>
